@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.profileFont {
    font-size: 24px;
    color: black;
    font-family: 'Permanent Marker';
}

.profileSubText {
    font-size: 18px;
    color: grey;
    font-family: 'Permanent Marker';
}